body{
  font-family: Helvetica;
  font-size: 16pt;
}
h1,h2,h3,h4,h5,h6{
  font-size: 24pt;
}
code.r{
  font-size: 16pt;
}
.container-fluid
{
  width: 95%;
  max-width: 95%;
}
.main-container
{
  width: 95%;
  max-width: 95%;
}
